/RedBoxMan_JavaFX/nbproject/private/
/RedBoxMan_JavaFX/build/
/RedBoxMan_JavaFX/dist/
/RedBoxMan_HTML5/nbproject/private/
/Recitation5/nbproject/private/
/Recitation5/build/
/Recitation5/dist/
/BoardGame/nbproject/private/
/BoardGame/build/
/hw1/dist/
/ComputeTask/nbproject/private/
/ComputeTask/build/
.DS_Store