/* Application specific css for visualization app*/
.chart {
    -fx-border-color: black; 
    -fx-border-style: solid; 
    -fx-border-width: 4px;
    
}
.default-color0.chart-series-line { -fx-stroke: black; }

.default-color0.chart-line-symbol { 
    -fx-background-color: transparent, transparent; 
}

.chart-series-line { -fx-stroke: transparent; }

.axis {
    -fx-font-size: 1.4em;    
    -fx-tick-label-fill: black;
    -fx-font-family: Tahoma;
    -fx-tick-length: 20;
    -fx-minor-tick-length: 10;
}
 
.axis-label {
   -fx-text-fill: black; 
}
 
.axis-tick-mark {
    -fx-stroke: black;
    -fx-stroke-width: 3; 
}
.axis-minor-tick-mark {
    -fx-stroke: black;
}
/*.text-area {
    -fx-border-style: solid;
}

.text-area .scroll-pane {
    -fx-vbar-policy: never;
    -fx-pannable: false;
}

.text-area .content {
    -fx-overflow: hidden;
}*/